extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Specific function results
block subSubContent

	h3
		b Examples of utility functions
	h3
		b Cobb Douglas
	p \(U=f(x,y)\)
	p \(U=x^\alpha y^\beta \)
	p \(MU_x=\alpha x^{\alpha -1}y^\beta \)
	p \(MU_x=\alpha \dfrac{y^\beta }{x^{1- \alpha }}\)
	p \(MU_y=\beta \dfrac{x^\alpha}{y^{1- \beta }}\)
	p So:
	p \(\dfrac{MU_x}{MU_y}=\dfrac{\alpha \dfrac{y^\beta }{x^{1- \alpha }} }{\beta \dfrac{x^\alpha}{y^{1- \beta }}}\)
	p \(\dfrac{MU_x}{MU_y}=\dfrac{\alpha }{\beta }\dfrac{y}{x}\)
	
	h3
		b Constant elasticity of substitution
	p \(U=f(x,y)\)
	p \(U=(ax^b+(1-a)y^b)^{\dfrac{1}{b}}\)
	p \(MU_x=\dfrac{1}{b}abx^{b-1}(ax^b+(1-a)y^b)^{\dfrac{1}{b}-1}\)
	p \(MU_y=\dfrac{1}{b}(1-a)by^{b-1}(ax^b+(1-a)y^b)^{\dfrac{1}{b}-1}\)
	p So:
	p \(\dfrac{MU_x}{MU_y}=\dfrac{\dfrac{1}{b}abx^{b-1}(ax^b+(1-a)y^b)^{\dfrac{1}{b}-1}}{\dfrac{1}{b}(1-a)by^{b-1}(ax^b+(1-a)y^b)^{\dfrac{1}{b}-1}}\)
	p \(\dfrac{MU_x}{MU_y}=\dfrac{ax^{b-1}}{ (1-a)y^{b-1}}\)

	h3
		b Constant elasticity of substitution
	p \(U=f(x,y)\)
	p \(U=ax+by\)
	p \(MU_x=a\)
	p \(MU_y=b\)
	p So
	p \(\dfrac{MU_x}{MU_y}=\dfrac{a/b}\)
	h3
		b Constant elasticity of substitution
	p \(U=f(x,y)\)
	p \(U=\alpha .ln(x)+\beta .ln(y)\)
	p \(MU_x=\dfrac{\alpha }{x}\)
	p \(MU_y=\dfrac{\beta }{y}\)
	p So:
	p \(\dfrac{MU_x}{MU_y}=\dfrac{\alpha }{\beta }\dfrac{y}{x}\)
	p This is the same as Cobb Douglas. This reflects that the logarithmic function preseres positive inflections.
	
